@font-face { font-family: "Eras Demi ITC"; src: local("Eras Demi ITC"), url("fonts/erasdemi.ttf"), url("fonts/erasdemi.eot"); }

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    height: 100%;
     font-family: Calibri; font-size: 14px; color: #666666;
}

h1, h2, h3, h4, h5 {
    margin: 0px; padding: 0px;
    font-weight: normal;
}

ul, ol, li, dl, dd, dt {
    margin: 0px; padding: 0px;
    list-style: none;
}

p {
    margin-top: 0px; margin-bottom: 0.5em;
}

iframe {
    position: relative;
}

/* LEFT */

#left-wrapper {
    position: absolute;
    left: 0px;
    width: 200px; height: 100%;
    color: #FFFFFF;
    background-color: #34486B;
}

#logo-wrapper {
    position: absolute;
    top: 25px; right: 0px;
}

#logo-wrapper .vejis {
    position: absolute;
    top: 0px; right: 50px;
    line-height: 30px;
    font-family: "Eras Demi ITC"; font-size: 30px;
}

#logo-wrapper .version {
    position: absolute;
    top: 10px; right: 0px;
    width: 40px; height: 26px; line-height: 26px;
    font-size: 20px; text-align: center;
    background-color: #717F98;
}

#logo-wrapper .description {
    position: absolute;
    top: 32px; right: 50px;
    line-height: 14px;
    white-space: nowrap; color: #DCDFE5;
}

#catalog-wrapper {
    position: absolute;
    right: 0px; top: 95px;

}

#catalog-wrapper h2 {
    float: right;
    padding: 0px 15px;
    border-left: solid 5px #FFFFFF;
    line-height: 30px;
    font-size: 18px; white-space: nowrap;
    background-color: #717F98;
}

#logo-wrapper h1 a,
#catalog-wrapper h2 a {
    color: #FFFFFF;
    text-decoration: none;
}

#catalog-wrapper ul {
    clear: both;
    margin: auto 20px 15px auto; padding-top: 10px;
    line-height: 24px;
    text-align: right;
    zoom: 1;
}

#catalog-wrapper ul li a {
    color: #DCDFE5;
    cursor: pointer; text-decoration: none;
}

#catalog-wrapper ul li a:hover {
    color: #FFFFFF;
}

/* RIGHT */

#right-wrapper {
    position: relative;
    margin-left: 200px;
    height: 100%;
    overflow: auto;
}

#content-wrapper {
    padding: 0px 30px 20px 30px;
}

#content-wrapper h2 {
    position: relative;
    padding-top: 15px; margin-bottom: 10px;
    height: 20px;
}

#content-wrapper h2 span {
    position: absolute;
    padding-right: 5px;
    line-height: 20px;
    text-transform: uppercase; font-size: 12px; color: #CCCCCC;
    background-color: #FFFFFF;
    z-index: 1;
}

#content-wrapper h2 b {
    display: block;
    height: 10px;
    border-bottom: solid 1px #EEEEEE;
    z-index: 0;
}

#content-wrapper h3 {
    padding-top: 10px; margin-bottom: 10px;
    font-size: 20px; color: #34486B;
}

#content-wrapper h4 {
    padding-top: 5px; margin-bottom: 8px;
    font-size: 14px; color: #34486B; font-weight: bold;
}

#content-wrapper a {
    color: #AAAAAA;
    text-decoration: none;
}

#content-wrapper a:hover {
    text-decoration: underline;
}

#content-wrapper b {
    color: #34486B;
}

#content-wrapper ul {
    padding-bottom: 0.5em;
}

#content-wrapper ul li {
    margin-left: 30px;
    line-height: 20px;
    list-style: disc;
}

#content-wrapper ul.api-list a {
    text-decoration: none; color: #666666;
}