@font-face { font-family: "Eras Demi ITC"; src: local("Eras Demi ITC"), url("fonts/erasdemi.ttf"), url("fonts/erasdemi.eot"); }
@font-face { font-family: "Eras Light ITC"; src: local("Eras Light ITC"), url("fonts/eraslght.ttf"), url("fonts/eraslght.eot"); }

body {
    margin: 0px;
    font-family: Eras Light ITC;
    background-color: #2F4160;
    background-image: -webkit-radial-gradient(20% 0%, #364B70, #24334A);
    background-image: -moz-radial-gradient(20% 0%, #364B70, #24334A);
}

#page_wrapper {
    margin: auto;
    position: relative;
    width: 960px; height: 100%;
    background-color: #EAECEF;
    background-image: -webkit-radial-gradient(0% 0%, #FFFFFF, #E2E4E9);
    background-image: -moz-radial-gradient(0% 0%, #FFFFFF, #E2E4E9);
    
}

#header {
    position: relative;
    height: 80px;
}

a#logo {
    display: block;
    position: absolute;
    left: 40px; top: 10px;
    width: 120px; height: 60px;
    text-decoration: none;
    cursor: pointer;
}

a#logo span {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}

a#logo .title {
    top: 3px;
    line-height: 36px; font-family: "Eras Demi ITC"; font-size: 36px; color: #2F4160;
}

a#logo .description {
    top: 35px;
    line-height: 24px; font-size: 20px; color: #7D889C;
}

#nav {
    position: absolute;
    left: 220px; top: 28px;
    line-height: 20px;
}

#nav a {
    display: block;
    float: left;
    margin-right: 30px;
    padding: 2px 0px;
    font-size: 16px; text-decoration: none; color: #7D889C;
}

#nav a:hover {
    color: #2F4160;
}

#nav a.current {
    padding-bottom: 0px;
    border-bottom: solid 2px #2F4160;
    color: #2F4160;
}

#nav a.disabled {
    cursor: default;
    color: #BBC1CB;
}

a#donate {
    display: block;
    position: absolute;
    top: 0px; right: 5px;
    width: 80px; height: 24px;
    line-height: 24px; font-size: 12px; font-family: Eras Demi ITC; color: #FFFFFF; text-align: center; text-decoration: none;
    background-color: #2F4160;
}

#header_light {
    position: absolute;
    width: 100%; height: 80px;
    left: 0px; top: 100%;
    background-image: -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255,255,255,0.4), rgba(255,255,255,0));
    background-image: -moz-radial-gradient(100% 0%, ellipse farthest-side, rgba(255,255,255,0.4), rgba(255,255,255,0));
}

#content_wrapper {
    padding: 30px 50px 80px 50px;
}

#content_wrapper .title {
    line-height: 24px; font-size: 20px;
    color: #2F4160;
}

#content_wrapper .content {
    padding: 0px 10px 10px 10px;
    color: #7D889C;
}

#content_wrapper .content ul {
    margin: 0px;
}

#content_wrapper .content b {
    font-weight: normal; color: #2F4160;
}

#content_wrapper .content p {
    margin: 10px 0px;
}

#footer {
    position: absolute;
    top: 100%;
    margin-top: -60px;
    height: 60px; width: 100%;
    line-height: 60px; text-indent: 40px; color: #7D889C; font-size: 12px;
}


